[run]
branch = True
source = .
omit =
    */migrations/*
    */tests/*
    manage.py
    djangoInput.py
    DjangoFuzzer.py

[report]
show_missing = False
skip_covered = False
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__